/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: "Inter-Variable";
  --accent-font: "PressStart2P";
  --main-font-weight: 410;
  --title-font-weight: 715;
  --background-color:#FFFFFF;
  --body-pattern: repeating-linear-gradient(
      90deg,
      #d3d3d3 0 2px,
      rgb(0 0 0 / 0) 2px 4px
    ),
    repeating-linear-gradient(180deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px),
    linear-gradient(180deg, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
    --padding-header: clamp(122px, 119.18px + 0.75vw, 130px);
    --width-main: clamp(375px, 260.56px + 30.52vw, 700px);
    --color-main:#000;
    --heart-contour-color: #000;
    --animation-fill-color: #FF0000;
    --title-size: clamp(49px, 4.5vw, 65px);
    --main_text_subtitle-size: clamp(14px, 1.5972vw, 23px);
    }
    
    
